VITE_TINYMCE_API_KEY="y2m0fesb83tw04zcc0ja7ncg402jcsdx49710rq8ktfs9o65"
VITE_REQUIREMENTS_API_URL="http://localhost:8081/requirementapi/v1"
VITE_RECRUITMENT_API_URL="http://localhost:8080/recruitmentapi/v1"
VITE_INTERVIEW_API_URL="http://localhost:8084/interviewapi/v1"
VITE_CANDIDATES_API_URL="https://geniahrapi.synopsis.cloud/candidateapi/v1"
VITE_N8N_LINKEDINPOST_API_URL="https://n8n.synopsis.cloud/webhook"
VITE_AIGENERATE_DESCRIPTION="https://n8n.synopsis.cloud/webhook/ai/generate"
VITE_AIGENERATE_PROMPT="https://n8n.synopsis.cloud/webhook/linkedincriteria/createprompt"
VITE_PREREGISTER_CANDIDATE_API_URL="https://n8n.synopsis.cloud/webhook/rpa/tempcandidate"