{
  "openapi": "3.0.3",
  "info": {
    "title": "GenIA-HR Recruitment API",
    "description": "API specification for managing recruitment processes",
    "version": "1.0.0",
    "contact": {
      "name": "RAGFlow Support",
      "email": "support@ragflow.com"
    }
  },
  "servers": [
    {
      "url": "https://geniahrapi.synopsis.cloud/recruitmentapi/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080/recruitmentapi/v1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Recruitment",
      "description": "Operations related to recruitment process management"
    },
    {
      "name": "Analytics",
      "description": "Operations related to recruitment analytics and metrics"
    },
    {
      "name": "Publications",
      "description": "Operations related to job publications on various platforms"
    },
    {
      "name": "Stage Due Dates",
      "description": "Operations related to managing stage due dates and alerts in recruitment processes"
    }
  ],
  "paths": {
    "/recruitments": {
      "get": {
        "operationId": "listRecruitmentProcesses",
        "summary": "List all recruitment processes",
        "description": "Retrieve a paginated list of recruitment processes with optional filtering",
        "tags": [
          "Recruitment"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "Active",
                "Paused",
                "Completed",
                "Cancelled"
              ]
            },
            "description": "Filter by recruitment process status"
          },
          {
            "in": "query",
            "name": "department",
            "schema": {
              "type": "string"
            },
            "description": "Filter by department"
          },
          {
            "in": "query",
            "name": "priority",
            "schema": {
              "type": "string",
              "enum": [
                "Low",
                "Medium",
                "High",
                "Urgent"
              ]
            },
            "description": "Filter by priority level"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "title",
                "department",
                "priority"
              ],
              "default": "createdAt"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of recruitment processes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruitmentListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createRecruitmentProcess",
        "summary": "Create a new recruitment process",
        "description": "Create a new recruitment process from an approved requirement",
        "tags": [
          "Recruitment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecruitmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recruitment process created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruitmentProcess"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/recruiters": {
      "get": {
        "operationId": "getAvailableRecruiters",
        "summary": "Get available recruiters",
        "description": "Retrieve a list of recruiters that can be associated with the recruitment process",
        "tags": [
          "Recruitment",
          "Recruiters"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "department",
            "schema": {
              "type": "string"
            },
            "description": "Filter recruiters by department"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available recruiters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruiterListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createRecruiter",
        "summary": "Create a new recruiter",
        "description": "Register a new recruiter in the system",
        "tags": [
          "Recruitment",
          "Recruiters"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecruiterRequest"
              },
              "examples": {
                "basic_recruiter": {
                  "summary": "Basic recruiter creation",
                  "value": {
                    "name": "Jane Smith",
                    "email": "jane.smith@company.com",
                    "department": "Human Resources"
                  }
                },
                "recruiter_without_department": {
                  "summary": "Recruiter without department",
                  "value": {
                    "name": "John Doe",
                    "email": "john.doe@company.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recruiter created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recruiter"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "email_exists": {
                    "summary": "Email already exists",
                    "value": {
                      "code": "EMAIL_ALREADY_EXISTS",
                      "message": "A recruiter with email 'jane.smith@company.com' already exists",
                      "timestamp": "2025-08-19T10:30:00Z",
                      "requestId": "req-12345"
                    }
                  },
                  "invalid_email": {
                    "summary": "Invalid email format",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Email format is invalid",
                      "details": {
                        "field": "email",
                        "reason": "must be a valid email address"
                      },
                      "timestamp": "2025-08-19T10:30:00Z",
                      "requestId": "req-12346"
                    }
                  },
                  "missing_name": {
                    "summary": "Missing required name",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Name is required",
                      "details": {
                        "field": "name",
                        "reason": "cannot be null or empty"
                      },
                      "timestamp": "2025-08-19T10:30:00Z",
                      "requestId": "req-12347"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidates/bulk-upload": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "listBulkUploads",
        "summary": "List all bulk uploads for a recruitment process",
        "description": "Retrieve a list of all bulk upload processes associated with the recruitment process",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/BulkUploadStatusEnum"
            },
            "description": "Filter by upload status"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt",
                "fileName",
                "status"
              ],
              "default": "createdAt"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bulk uploads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUploadListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "bulkUploadCandidates",
        "summary": "Bulk upload candidates from CSV file",
        "description": "Upload multiple candidates to a recruitment process from a CSV file",
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing candidate data"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "File uploaded successfully, processing started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file format or content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "INVALID_FILE_FORMAT",
                  "message": "File must be in CSV format",
                  "timestamp": "2025-09-03T10:30:00Z",
                  "requestId": "req-12345"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "413": {
            "description": "File too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "FILE_TOO_LARGE",
                  "message": "File size exceeds maximum limit of 10MB",
                  "timestamp": "2025-09-03T10:30:00Z",
                  "requestId": "req-12346"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidates/bulk-upload/{uploadId}/status": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        },
        {
          "name": "uploadId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the bulk upload process"
        }
      ],
      "get": {
          "operationId": "getBulkUploadStatus",
        "summary": "Get bulk upload process status",
        "description": "Check the status of an ongoing or completed bulk upload process",
        "tags": [
          "Candidates"
        ],
        "responses": {
          "200": {
            "description": "Bulk upload status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUploadStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidates/bulk-upload/{uploadId}/results": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        },
        {
          "name": "uploadId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the bulk upload process"
        }
      ],
      "get": {
        "operationId": "getBulkUploadResults",
        "summary": "Get bulk upload results",
        "description": "Get detailed results of a completed bulk upload process, including processed records and errors",
        "tags": [
          "Candidates"
        ],
        "responses": {
          "200": {
            "description": "Detailed bulk upload results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUploadResults"
                }
              }
            }
          },
          "400": {
            "description": "Upload process not completed yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "PROCESS_NOT_COMPLETED",
                  "message": "Bulk upload process is still in progress. Check status first.",
                  "timestamp": "2025-09-03T10:30:00Z",
                  "requestId": "req-12347"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidate/{candidateId}/email": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Recruitment process ID"
        },
        {
          "name": "candidateId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Candidate ID"
        }
      ],
      "patch": {
        "operationId": "updateCandidateEmail",
        "summary": "Update candidate email in recruitment",
        "description": "Update the email address of a candidate within the recruitment process",
        "tags": [
          "Candidate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateEmailUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate email updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateEmailUpdateData"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "VALIDATION_ERROR"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid email format"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string",
                            "example": "email"
                          },
                          "message": {
                            "type": "string",
                            "example": "Email format is invalid"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Candidate or recruitment process not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "NOT_FOUND"
                    },
                    "message": {
                      "type": "string",
                      "example": "Candidate is not associated with this recruitment process"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "EMAIL_ALREADY_EXISTS"
                    },
                    "message": {
                      "type": "string",
                      "example": "A candidate with this email already exists in the system"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidate/{candidateId}/cv-pdf": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecruitmentProcessIdParam"
        },
        {
          "$ref": "#/components/parameters/CandidateIdParam"
        }
      ],
      "get": {
        "operationId": "generateCandidateCvPdf",
        "summary": "Generate candidate CV as PDF",
        "description": "Generates and returns the candidate's CV/Resume as a PDF document based on their profile data.",
        "tags": [
          "Candidate"
        ],
        "responses": {
          "200": {
            "description": "Candidate CV PDF generated successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Indicates the file name: attachment; filename=\"[candidateName]_CV.pdf\""
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidate/{candidateId}/status": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "candidateId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "patch": {
        "operationId": "updateCandidateStatus",
        "summary": "Update candidate status in recruitment",
        "description": "Update the status of a candidate within the recruitment process",
        "tags": [
          "Candidate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateStatusUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidate/{candidateId}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Recruitment process ID"
        },
        {
          "name": "candidateId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Candidate ID"
        }
      ],
      "get": {
        "operationId": "getCandidateInRecruitment",
        "summary": "Get candidate details in recruitment process",
        "description": "Retrieve detailed information about a specific candidate within a recruitment process",
        "tags": [
          "Candidate"
        ],
        "responses": {
          "200": {
            "description": "Candidate details in recruitment context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateCandidate",
        "summary": "Update a specific candidate's information",
        "description": "Updates the details of a single candidate within a recruitment process.",
        "tags": [
          "Candidate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCandidateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidate updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "removeCandidateFromRecruitment",
        "summary": "Remove candidate from recruitment process",
        "description": "Remove a candidate from the recruitment process",
        "tags": [
          "Candidate"
        ],
        "responses": {
          "204": {
            "description": "Candidate removed successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/candidates": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getRecruitmentCandidates",
        "summary": "Get candidates for a recruitment process",
        "description": "Retrieve all candidates associated with a specific recruitment process",
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "contacted",
                "interview",
                "offer",
                "hired",
                "rejected"
              ]
            },
            "description": "Filter candidates by status"
          },
          {
            "in": "query",
            "name": "stage",
            "schema": {
              "type": "string",
              "enum": [
                "applied",
                "screening",
                "technical",
                "cultural",
                "offer",
                "hired"
              ]
            },
            "description": "Filter candidates by stage"
          },
          {
            "in": "query",
            "name": "minMatchScore",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 0
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "maxMatchScore",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidates for the recruitment process",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "associateCandidates",
        "summary": "Associate multiple candidates to a recruitment process",
        "description": "Associate one or more candidates to an existing recruitment process",
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateCandidatesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidates association completed (may include partial failures)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociateCandidatesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/metrics": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getRecruitmentMetrics",
        "summary": "Get recruitment process metrics",
        "description": "Retrieve detailed metrics and KPIs for a specific recruitment process",
        "tags": [
          "Recruitment",
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Recruitment process metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruitmentMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/publications": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getRecruitmentPublications",
        "summary": "Get publications for a recruitment process",
        "description": "Retrieve all publications associated with a specific recruitment process",
        "tags": [
          "Publications"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published",
                "expired",
                "suspended",
                "archived"
              ]
            },
            "description": "Filter publications by status"
          },
          {
            "in": "query",
            "name": "platform",
            "schema": {
              "type": "string",
              "enum": [
                "LinkedIn",
                "Computrabajo",
                "Indeed",
                "Glassdoor",
                "CompanyWebsite",
                "Other"
              ]
            },
            "description": "Filter publications by platform"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of publications for the recruitment process",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createPublication",
        "summary": "Create a new publication for recruitment process",
        "description": "Create a new job publication on a specific platform for the recruitment process",
        "tags": [
          "Publications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicationRequest"
              },
              "examples": {
                "linkedin_draft": {
                  "summary": "LinkedIn Draft Publication",
                  "value": {
                    "platform": "LinkedIn",
                    "title": "Test of publication",
                    "url": "https://www.linkedin.com/jobs/view/3456789",
                    "description": "Join our dynamic team as a Senior Frontend Developer..."
                  }
                },
                "indeed_published": {
                  "summary": "Indeed Published Publication",
                  "value": {
                    "platform": "Indeed",
                    "url": "https://www.indeed.com/viewjob?jk=abc123",
                    "title": "Senior Frontend Developer",
                    "description": "We are looking for an experienced developer...",
                    "publishedAt": "2025-07-15T09:00:00Z",
                    "expiresAt": "2025-08-15T23:59:59Z",
                    "budgetAllocated": 750,
                    "autoRenewal": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Publication created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publication"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/timeline": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getRecruitmentTimeline",
        "summary": "Get recruitment process timeline",
        "description": "Retrieve timeline information and key milestones for a specific recruitment process",
        "tags": [
          "Recruitment"
        ],
        "responses": {
          "200": {
            "description": "Recruitment process timeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruitmentTimeline"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getRecruitmentProcess",
        "summary": "Get a recruitment process by ID",
        "description": "Retrieve detailed information about a specific recruitment process including candidates, publications, and metrics",
        "tags": [
          "Recruitment"
        ],
        "responses": {
          "200": {
            "description": "Recruitment process details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruitmentProcess"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "operationId": "updateRecruitmentProcess",
        "summary": "Update recruitment process",
        "description": "Update specific fields of an existing recruitment process",
        "tags": [
          "Recruitment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecruitmentRequest"
              },
              "examples": {
                "basic_update": {
                  "summary": "Update basic recruitment information",
                  "value": {
                    "title": "Senior Frontend Developer",
                    "department": "Engineering",
                    "location": "Remote",
                    "employmentType": "Full-time",
                    "priority": "High",
                    "expectedStartDate": "2025-09-01",
                    "positionsCount": 2,
                    "budgetMin": 1000,
                    "budgetMax": 2000,
                    "currency": "USD",
                    "urgency": "Normal"
                  }
                },
                "skills_update": {
                  "summary": "Update technical and soft skills",
                  "value": {
                    "technicalSkills": [
                      "React",
                      "Node.js",
                      "TypeScript",
                      "AWS"
                    ],
                    "softSkills": [
                      "Communication",
                      "Teamwork",
                      "Problem Solving"
                    ]
                  }
                },
                "recruiter_update": {
                  "summary": "Update assigned recruiter",
                  "value": {
                    "recruiterId": "123e4567-e89b-12d3-a456-426614174000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recruitment process updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruitmentProcess"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_employment_type": {
                    "summary": "Invalid employment type",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Invalid employment type provided",
                      "details": {
                        "field": "employmentType",
                        "reason": "must be one of: Full-time, Part-time, Contract, Internship"
                      },
                      "timestamp": "2025-08-20T10:30:00Z",
                      "requestId": "req-12345"
                    }
                  },
                  "invalid_budget_range": {
                    "summary": "Invalid budget range",
                    "value": {
                      "code": "VALIDATION_ERROR",
                      "message": "Budget minimum cannot be greater than maximum",
                      "details": {
                        "field": "budgetRange",
                        "reason": "budgetMin must be less than or equal to budgetMax"
                      },
                      "timestamp": "2025-08-20T10:30:00Z",
                      "requestId": "req-12346"
                    }
                  },
                  "recruiter_not_found": {
                    "summary": "Recruiter not found",
                    "value": {
                      "code": "RECRUITER_NOT_FOUND",
                      "message": "The specified recruiter does not exist or is not active",
                      "details": {
                        "field": "recruiterId",
                        "reason": "recruiter with the provided ID was not found"
                      },
                      "timestamp": "2025-08-20T10:30:00Z",
                      "requestId": "req-12347"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "description": "Conflict - Cannot update due to current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "recruitment_completed": {
                    "summary": "Cannot update completed recruitment",
                    "value": {
                      "code": "RECRUITMENT_COMPLETED",
                      "message": "Cannot update a completed recruitment process",
                      "timestamp": "2025-08-20T10:30:00Z",
                      "requestId": "req-12348"
                    }
                  },
                  "active_candidates": {
                    "summary": "Cannot change critical fields with active candidates",
                    "value": {
                      "code": "ACTIVE_CANDIDATES_EXIST",
                      "message": "Cannot modify job requirements when candidates are actively being processed",
                      "details": {
                        "activeCandidates": 5,
                        "restrictedFields": [
                          "title",
                          "department",
                          "employmentType"
                        ]
                      },
                      "timestamp": "2025-08-20T10:30:00Z",
                      "requestId": "req-12349"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteRecruitmentProcess",
        "summary": "Delete a recruitment process",
        "description": "Delete a recruitment process (only allowed if no candidates have applied)",
        "tags": [
          "Recruitment"
        ],
        "responses": {
          "204": {
            "description": "Recruitment process deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{recruitmentProcessId}/publications/{publicationId}": {
      "parameters": [
        {
          "name": "recruitmentProcessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        },
        {
          "name": "publicationId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the publication"
        }
      ],
      "get": {
        "operationId": "getPublication",
        "summary": "Get a specific publication",
        "description": "Retrieve detailed information about a specific publication",
        "tags": [
          "Publications"
        ],
        "responses": {
          "200": {
            "description": "Publication details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publication"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updatePublication",
        "summary": "Update a publication",
        "description": "Update an existing publication with new information",
        "tags": [
          "Publications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePublicationRequest"
              },
              "examples": {
                "update_status": {
                  "summary": "Update publication status",
                  "value": {
                    "status": "Published",
                    "publishedAt": "2025-07-15T09:00:00Z",
                    "views": 150,
                    "applications": 12
                  }
                },
                "update_metrics": {
                  "summary": "Update engagement metrics",
                  "value": {
                    "views": 500,
                    "applications": 45,
                    "likes": 25,
                    "shares": 8,
                    "clicks": 320,
                    "comments": 12,
                    "costSpent": 125.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Publication updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Publication"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deletePublication",
        "summary": "Delete a publication",
        "description": "Delete a publication from the recruitment process",
        "tags": [
          "Publications"
        ],
        "responses": {
          "204": {
            "description": "Publication deleted successfully"
          },
          "400": {
            "description": "Cannot delete published publication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "code": "CANNOT_DELETE_PUBLISHED",
                  "message": "Cannot delete a published publication. Suspend it first.",
                  "timestamp": "2025-07-10T10:30:00Z",
                  "requestId": "req-12349"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{recruitmentProcessId}/status": {
      "parameters": [
        {
          "name": "recruitmentProcessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "patch": {
        "operationId": "updateRecruitmentStatus",
        "summary": "Update recruitment process status",
        "description": "Update the status of an existing recruitment process with optional reason",
        "tags": [
          "Recruitment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruitmentProcess"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/stage-due-dates": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getRecruitmentStageDueDates",
        "summary": "Get all stage due dates for recruitment process",
        "description": "Retrieve all stage due dates configured for a specific recruitment process",
        "tags": [
          "Recruitment",
          "Stage Due Dates"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "stage",
            "schema": {
              "$ref": "#/components/schemas/StageEnum"
            },
            "description": "Filter by specific stage"
          },
          {
            "in": "query",
            "name": "isOverdue",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter to show only overdue stages"
          },
          {
            "in": "query",
            "name": "isCompleted",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by completion status"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "stage",
                "dueDate",
                "createdAt",
                "updatedAt"
              ],
              "default": "stage"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of stage due dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageDueDateListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createStageDueDate",
        "summary": "Create a stage due date",
        "description": "Create a new due date for a specific stage in the recruitment process",
        "tags": [
          "Recruitment",
          "Stage Due Dates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStageDueDateRequest"
              },
              "examples": {
                "screening_stage": {
                  "summary": "Screening stage due date",
                  "value": {
                    "stage": "screening",
                    "dueDate": "2025-08-15",
                    "alertDays": 3,
                    "notes": "Complete initial screening of all candidates"
                  }
                },
                "technical_stage": {
                  "summary": "Technical interview due date",
                  "value": {
                    "stage": "technical",
                    "dueDate": "2025-08-25",
                    "alertDays": 2,
                    "notes": "Complete all technical interviews"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Stage due date created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageDueDate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "stage_exists": {
                    "summary": "Stage due date already exists",
                    "value": {
                      "code": "STAGE_DUE_DATE_EXISTS",
                      "message": "A due date for this stage already exists",
                      "timestamp": "2025-08-19T10:30:00Z",
                      "requestId": "req-12345"
                    }
                  },
                  "invalid_due_date": {
                    "summary": "Invalid due date",
                    "value": {
                      "code": "INVALID_DUE_DATE",
                      "message": "Due date must be in the future",
                      "timestamp": "2025-08-19T10:30:00Z",
                      "requestId": "req-12346"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/stage-due-dates/{stageDueDateId}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        },
        {
          "name": "stageDueDateId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the stage due date"
        }
      ],
      "get": {
        "operationId": "getStageDueDate",
        "summary": "Get specific stage due date",
        "description": "Retrieve detailed information about a specific stage due date",
        "tags": [
          "Recruitment",
          "Stage Due Dates"
        ],
        "responses": {
          "200": {
            "description": "Stage due date details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageDueDate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "operationId": "updateStageDueDate",
        "summary": "Update stage due date",
        "description": "Update an existing stage due date with new information",
        "tags": [
          "Recruitment",
          "Stage Due Dates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStageDueDateRequest"
              },
              "examples": {
                "update_due_date": {
                  "summary": "Update due date and alert",
                  "value": {
                    "dueDate": "2025-08-20",
                    "alertDays": 5,
                    "notes": "Extended due date due to high volume"
                  }
                },
                "mark_completed": {
                  "summary": "Mark stage as completed",
                  "value": {
                    "isCompleted": true,
                    "notes": "All interviews completed successfully"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stage due date updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageDueDate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteStageDueDate",
        "summary": "Delete stage due date",
        "description": "Remove a stage due date from the recruitment process",
        "tags": [
          "Recruitment",
          "Stage Due Dates"
        ],
        "responses": {
          "204": {
            "description": "Stage due date deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/stage-due-dates/overdue": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getOverdueStageDueDates",
        "summary": "Get overdue stage due dates",
        "description": "Retrieve all stage due dates that are past their due date and not completed",
        "tags": [
          "Recruitment",
          "Stage Due Dates"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "daysOverdue",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Filter by minimum days overdue (0 for all overdue)"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "dueDate",
                "stage",
                "daysOverdue"
              ],
              "default": "daysOverdue"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of overdue stage due dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageDueDateListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/recruitments/{id}/stage-due-dates/alerts": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Unique identifier of the recruitment process"
        }
      ],
      "get": {
        "operationId": "getUpcomingStageDueDateAlerts",
        "summary": "Get upcoming stage due date alerts",
        "description": "Retrieve stage due dates that are approaching their alert threshold",
        "tags": [
          "Recruitment",
          "Stage Due Dates"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "daysThreshold",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 7
            },
            "description": "Alert threshold in days (default: 7 days)"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "dueDate",
                "stage",
                "daysUntilDue"
              ],
              "default": "daysUntilDue"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of upcoming stage due date alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageDueDateListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "RecruitmentProcessIdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Recruitment process ID"
      },
      "CandidateIdParam": {
        "name": "candidateId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Candidate ID"
      }
    },
    "responses": {
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "INTERNAL_ERROR",
              "message": "An unexpected error occurred",
              "timestamp": "2025-05-27T10:30:00Z",
              "requestId": "req-12348"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "NOT_FOUND",
              "message": "Recruitment process not found",
              "timestamp": "2025-05-27T10:30:00Z",
              "requestId": "req-12346"
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Access token is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "UNAUTHORIZED",
              "message": "Access token is missing or invalid",
              "timestamp": "2025-05-27T10:30:00Z",
              "requestId": "req-12345"
            }
          }
        }
      },
      "ValidationError": {
        "description": "The request parameters failed validation",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "VALIDATION_ERROR",
              "message": "Invalid request parameters",
              "details": {
                "field": "requirementId",
                "reason": "must be a valid UUID"
              },
              "timestamp": "2025-05-27T10:30:00Z",
              "requestId": "req-12347"
            }
          }
        }
      }
    },
    "schemas": {
      "BulkUploadResponse": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the bulk upload process",
            "example": "456e7890-f12c-34e5-b678-901234567890"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the uploaded file",
            "example": "candidate_upload_template.csv"
          },
          "fileSize": {
            "type": "integer",
            "description": "Size of the uploaded file in bytes",
            "example": 4096
          },
          "status": {
            "$ref": "#/components/schemas/BulkUploadStatusEnum"
          },
          "totalRows": {
            "type": "integer",
            "description": "Total number of rows in the CSV file (excluding header)",
            "example": 17
          },
          "estimatedProcessingTime": {
            "type": "integer",
            "description": "Estimated processing time in seconds",
            "example": 30
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload was initiated",
            "example": "2025-09-03T10:30:00Z"
          }
        },
        "required": [
          "uploadId",
          "fileName",
          "fileSize",
          "status",
          "totalRows",
          "createdAt"
        ]
      },
      "BulkUploadStatus": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the bulk upload process"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the uploaded file"
          },
          "status": {
            "$ref": "#/components/schemas/BulkUploadStatusEnum"
          },
          "progress": {
            "type": "object",
            "properties": {
              "totalRows": {
                "type": "integer",
                "description": "Total number of rows to process",
                "example": 17
              },
              "processedRows": {
                "type": "integer",
                "description": "Number of rows processed so far",
                "example": 10
              },
              "successfullyProcessed": {
                "type": "integer",
                "description": "Number of rows processed successfully",
                "example": 8
              },
              "failedToProcess": {
                "type": "integer",
                "description": "Number of rows that failed processing",
                "example": 2
              },
              "percentageComplete": {
                "type": "number",
                "format": "float",
                "minimum": 0,
                "maximum": 100,
                "description": "Percentage of completion",
                "example": 58.8
              }
            },
            "required": [
              "totalRows",
              "processedRows",
              "successfullyProcessed",
              "failedToProcess",
              "percentageComplete"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the processing started"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the processing completed (null if still in progress)"
          },
          "estimatedTimeRemaining": {
            "type": "integer",
            "description": "Estimated time remaining in seconds (null if completed or unknown)",
            "example": 15
          },
          "currentOperation": {
            "type": "string",
            "description": "Description of the current operation being performed",
            "example": "Validating candidate data..."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkUploadError"
            },
            "description": "List of errors encountered during processing"
          }
        },
        "required": [
          "uploadId",
          "fileName",
          "status",
          "progress",
          "startedAt"
        ]
      },
      "BulkUploadResults": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the bulk upload process"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the uploaded file"
          },
          "status": {
            "$ref": "#/components/schemas/BulkUploadStatusEnum"
          },
          "summary": {
            "type": "object",
            "properties": {
              "totalRows": {
                "type": "integer",
                "description": "Total number of rows in the file",
                "example": 17
              },
              "successfullyProcessed": {
                "type": "integer",
                "description": "Number of candidates successfully created",
                "example": 15
              },
              "failedToProcess": {
                "type": "integer",
                "description": "Number of rows that failed processing",
                "example": 2
              },
              "duplicatesSkipped": {
                "type": "integer",
                "description": "Number of duplicates that were skipped",
                "example": 0
              },
              "processingTimeSeconds": {
                "type": "number",
                "format": "float",
                "description": "Total processing time in seconds",
                "example": 28.5
              }
            },
            "required": [
              "totalRows",
              "successfullyProcessed",
              "failedToProcess",
              "duplicatesSkipped",
              "processingTimeSeconds"
            ]
          },
          "successfulCandidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkUploadSuccessRecord"
            },
            "description": "List of successfully processed candidates"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkUploadError"
            },
            "description": "List of errors encountered during processing"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the processing started"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the processing completed"
          }
        },
        "required": [
          "uploadId",
          "fileName",
          "status",
          "summary",
          "successfulCandidates",
          "errors",
          "startedAt",
          "completedAt"
        ]
      },
      "BulkUploadStatusEnum": {
        "type": "string",
        "enum": [
          "pending",
          "processing",
          "completed",
          "completed_with_errors",
          "failed",
          "cancelled"
        ],
        "description": "Current status of the bulk upload process"
      },
      "BulkUploadError": {
        "type": "object",
        "properties": {
          "row": {
            "type": "integer",
            "description": "Row number in the CSV file where the error occurred",
            "example": 3
          },
          "field": {
            "type": "string",
            "description": "Field name where the error occurred",
            "example": "email"
          },
          "error": {
            "type": "string",
            "description": "Error description",
            "example": "Invalid email format"
          },
          "value": {
            "type": "string",
            "description": "The value that caused the error",
            "example": "invalid-email"
          },
          "errorCode": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "INVALID_EMAIL_FORMAT"
          }
        },
        "required": [
          "row",
          "field",
          "error",
          "errorCode"
        ]
      },
      "BulkUploadSuccessRecord": {
        "type": "object",
        "properties": {
          "row": {
            "type": "integer",
            "description": "Row number in the CSV file",
            "example": 2
          },
          "candidateId": {
            "type": "string",
            "format": "uuid",
            "description": "Generated candidate ID",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "recruitmentCandidateId": {
            "type": "string",
            "format": "uuid",
            "description": "Recruitment-candidate association ID",
            "example": "987fcdeb-51a2-43d1-9f12-ba9876543210"
          },
          "candidateNumber": {
            "type": "string",
            "description": "Auto-generated candidate number",
            "example": "CAN-000001"
          },
          "firstName": {
            "type": "string",
            "description": "Candidate's first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Candidate's last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Candidate's email",
            "example": "john.doe@email.com"
          },
          "status": {
            "type": "string",
            "description": "Initial status assigned to the candidate",
            "example": "New"
          }
        },
        "required": [
          "row",
          "candidateId",
          "recruitmentCandidateId",
          "candidateNumber",
          "firstName",
          "lastName",
          "email",
          "status"
        ]
      },
      "BulkUploadListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkUploadSummary"
            },
            "description": "List of bulk uploads"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "BulkUploadSummary": {
        "type": "object",
        "properties": {
          "uploadId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the bulk upload process",
            "example": "456e7890-f12c-34e5-b678-901234567890"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the uploaded file",
            "example": "candidate_upload_template.csv"
          },
          "fileSize": {
            "type": "integer",
            "description": "Size of the uploaded file in bytes",
            "example": 4096
          },
          "status": {
            "$ref": "#/components/schemas/BulkUploadStatusEnum"
          },
          "totalRows": {
            "type": "integer",
            "description": "Total number of rows in the CSV file (excluding header)",
            "example": 17
          },
          "processedRows": {
            "type": "integer",
            "description": "Number of rows processed",
            "example": 15
          },
          "successfullyProcessed": {
            "type": "integer",
            "description": "Number of rows processed successfully",
            "example": 13
          },
          "failedToProcess": {
            "type": "integer",
            "description": "Number of rows that failed processing",
            "example": 2
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the upload was initiated",
            "example": "2025-09-03T10:30:00Z"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the processing started",
            "example": "2025-09-03T10:30:05Z"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the processing completed (null if still in progress)",
            "example": "2025-09-03T10:31:00Z"
          },
          "currentOperation": {
            "type": "string",
            "description": "Description of the current operation being performed",
            "example": "Processing candidates..."
          }
        },
        "required": [
          "uploadId",
          "fileName",
          "fileSize",
          "status",
          "totalRows",
          "createdAt"
        ]
      },
      "ApplicationInfo": {
        "type": "object",
        "properties": {
          "appliedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the candidate applied"
          },
          "source": {
            "type": "string",
            "description": "Application source platform"
          },
          "coverLetter": {
            "type": "string",
            "description": "Cover letter content"
          },
          "resume": {
            "$ref": "#/components/schemas/DocumentInfo"
          },
          "additionalDocuments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentInfo"
            }
          },
          "referral": {
            "$ref": "#/components/schemas/ReferralInfo"
          }
        },
        "required": [
          "appliedAt",
          "source"
        ]
      },
      "AssociateCandidatesRequest": {
        "type": "object",
        "properties": {
          "profileLink": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "URL to the candidate's profile (LinkedIn, etc.)",
            "example": "https://linkedin.com/in/john-doe"
          },
          "profileName": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "description": "Full name of the candidate",
            "example": "John Doe"
          },
          "profileDescription": {
            "type": "string",
            "description": "Brief description or headline from the profile",
            "example": "Senior Software Engineer with 5+ years experience"
          },
          "profileEmail": {
            "type": "string",
            "format": "email",
            "maxLength": 320,
            "description": "Email address of the candidate",
            "example": "john.doe@email.com"
          },
          "profileSummary": {
            "type": "string",
            "description": "Detailed summary or bio of the candidate",
            "example": "Experienced developer specializing in React and Node.js"
          },
          "profileImage": {
            "type": "string",
            "description": "Link to profile image of the candidate",
            "example": "https://media.licdn.com/dms/image/v2/D4E35AQFiOBWQE2j6Vw/profile-framedphoto-shrink_200_200/B4EZgz08vbHgAk-/0/1753216175523?e=1757440800&v=beta&t=9FSrqkpUyhcwWEa1Do9B_fK0P0k7PUbZLZvlyt5_Ouc"
          },
          "profileCvUri": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "URL or path to the candidate's CV/resume",
            "example": "https://storage.example.com/cv/john-doe.pdf"
          },
          "profileLocation": {
            "type": "string",
            "maxLength": 255,
            "description": "Geographic location of the candidate",
            "example": "San Francisco, CA"
          }
        },
        "required": [
          "profileLink",
          "profileName"
        ],
        "additionalProperties": false
      },
      "AssociateCandidatesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created candidate"
          },
          "recruitmentCandidateId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created candidate"
          },
          "candidateNumber": {
            "type": "string",
            "description": "Auto-generated candidate number",
            "example": "CAN-000001"
          },
          "firstName": {
            "type": "string",
            "description": "First name extracted from profileName"
          },
          "lastName": {
            "type": "string",
            "description": "Last name extracted from profileName"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "position": {
            "type": "string",
            "description": "Position extracted from profileDescription"
          },
          "department": {
            "type": "string",
            "description": "Department inferred from position"
          },
          "summary": {
            "type": "string",
            "description": "Profile summary"
          },
          "city": {
            "type": "string",
            "description": "City extracted from profileLocation"
          },
          "country": {
            "type": "string",
            "description": "Country extracted from profileLocation"
          },
          "linkedinUrl": {
            "type": "string",
            "format": "uri",
            "description": "LinkedIn profile URL"
          },
          "statusId": {
            "type": "integer",
            "description": "Candidate status ID (1=NEW by default)"
          },
          "statusLabel": {
            "type": "string",
            "description": "Candidate status Label (NEW by default)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the candidate was created"
          }
        },
        "required": [
          "id",
          "candidateNumber",
          "firstName",
          "lastName",
          "email",
          "position",
          "department",
          "statusId",
          "stageId",
          "createdAt"
        ]
      },
      "AssociateRecruiterRequest": {
        "type": "object",
        "properties": {
          "recruiterId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the recruiter to associate",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "required": [
          "recruiterId"
        ],
        "additionalProperties": false
      },
      "BonusStructure": {
        "type": "object",
        "properties": {
          "signing": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "Signing bonus amount"
          },
          "performance": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "Performance bonus percentage or amount"
          },
          "annual": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "description": "Annual bonus amount or percentage"
          }
        }
      },
      "CandidateAssessment": {
        "type": "object",
        "properties": {
          "matchScore": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "description": "Overall assessment score (0-100)"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "React",
              "TypeScript",
              "Node.js"
            ]
          },
          "softSkills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Communication",
              "Problem Solving",
              "Creativity"
            ]
          },
          "assessedBy": {
            "type": "string",
            "description": "Name of the assessor"
          },
          "assessedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the assessment was conducted"
          }
        }
      },
      "CandidateEmailUpdateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email for update",
            "example": "mmyataco@synopsis.ws"
          }
        },
        "required": [
          "email"
        ]
      },
      "CandidateEmailUpdateData": {
        "type": "object",
        "properties": {
          "candidateId": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000",
            "description": "Unique identifier of the candidate"
          },
          "recruitmentProcessId": {
            "type": "string",
            "format": "uuid",
            "example": "987fcdeb-51a2-43d1-9f12-ba9876543210",
            "description": "Unique identifier of the recruitment process"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "candidate.new@email.com",
            "description": "Updated email address"
          },
          "previousEmail": {
            "type": "string",
            "format": "email",
            "example": "candidate.old@email.com",
            "description": "Previous email address (null if no previous email existed)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-15T10:30:00Z",
            "description": "Timestamp when the email was updated"
          },
          "updatedBy": {
            "type": "string",
            "format": "uuid",
            "example": "456e7890-e89b-12d3-a456-426614174111",
            "description": "ID of the user who performed the update"
          }
        },
        "required": [
          "candidateId",
          "recruitmentProcessId",
          "email",
          "updatedAt"
        ]
      },
      "CandidateListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            },
            "description": "List of candidates for the recruitment process"
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "CandidateProfile": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string",
            "description": "Professional summary or bio"
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required or preferred certifications"
          },
          "education": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Education"
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "React",
              "TypeScript",
              "Node.js"
            ]
          },
          "softSkills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Communication",
              "Problem Solving",
              "Creativity"
            ]
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageSkill"
            }
          },
          "certifications": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required or preferred certifications"
          }
        }
      },
      "CandidateStageEnum": {
        "type": "string",
        "enum": [
          "applied",
          "screening",
          "technical",
          "cultural",
          "offer",
          "hired"
        ],
        "description": "Current stage of the candidate"
      },
[...]
