ENV_IMG_REGISTRY_DOMAIN=registry.synopsis.cloud
ENV_NAMESPACE=synopsis-ws

ENV_BRANCH=profile
ENV_APP_IMAGE=geniaforhr-frontend
ENV_APP_VERSION=1.0.0
ENV_APP_CONTAINER=geniaforhr-frontend-${ENV_BRANCH}

ENV_K8S_APP=${ENV_APP_CONTAINER}
ENV_K8S_DEPLOYMENT=${ENV_K8S_APP}-app
ENV_K8S_SERVICE=${ENV_K8S_APP}-svc
ENV_K8S_CFG_MAP=${ENV_K8S_APP}-cfgmap
ENV_K8S_SECRET=${ENV_K8S_APP}-secret
ENV_K8S_SECRET_REGISTRY=regcred
ENV_AZURE_TOKEN=token-for-azuredevops!

ENV_DOMAIN=geniahrv2.synopsis.cloud

ENV_HOST_PORT=9080
ENV_VOLUME_DIR=/data/k8s/volumes

DOCKER_PASSWORD=password-for-registry!
DOCKER_USERNAME=elperez

SONAR_HOST_URL=https://sonar.synopsis.cloud
SONAR_TOKEN=token-for-sonarqube!
SONAR_PROJECT_KEY=geniahr-frontend